In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
loss_data = pd.read_excel("colony_loss.xlsx")
loss_data.sample(5)

,Year,Season,State,Total Annual Loss,Beekeepers,Beekeepers Exclusive to State,Colonies,Colonies Exclusive to State
252,2012/13,Annual,Mississippi,0.602,26,0.808,156746,0.007
266,2011/12,Annual,Michigan,0.221,106,0.972,9699,0.131
295,2011/12,Annual,Colorado,0.379,67,0.985,891,0.768
28,2016/17,Annual,Kentucky,0.405,50,0.940,3603,0.278
356,2010/11,Annual,Iowa,0.807,14,0.857,1037,0.688

In [3]:
loss_data.columns = [x.replace('\xa0', '') for x in loss_data.columns] # replaces \xa0 with nothing
loss_data.columns = [x.replace(' ', '') for x in loss_data.columns] # replaces space with nothing
loss_data.columns
# allows for column referencing using df
# e.g. df.State     df.TotalAnnualLoss

In [4]:
# loss_data['TotalAnnualLoss']# > 0.5]#.hist(bins=15)